.result-text {
  font-size: 45px;
  margin: 60px 0px 0px;
}

.build-number-field {
  width: 15%;
  text-align: center;
}

.controllers {
  margin: 15px 0px 0px;
}

.cell {
  background-color: #3b3b3b;
  border: 1px solid #000000;
  width: 100px;
  height: 100px;
}

.slot {
  width: 100px;
  height: 100px;
}

.console {
  border: 10px double #2e2c2c;
  padding: 10px;
}

.tool-item {
  height: 80px;
  width: 80px;
}
